@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

main div{
    font-family: Lato;
    font-weight: 400;
    font-size: 17px;
}

.message .image-card .image-content{
    font-family: PT Serif;
}

.main-core-team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.core-team{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px;
    padding: 5px;
}

.core-team .member-image{
    width: 180px;
    height: auto;
    margin-bottom: 15px;
}

.core-team .member-image img{
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 10px rgba(0, 0, 0, 0.3) ,0 8px 12px rgba(0, 0, 0, 0.3);
}

.core-team .member-description{
    font-family: PT Serif;
    text-align: center;
}

