@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

main{
    flex-direction: column;
    justify-content: flex-start;
    height: auto !important;
    padding: 30px 3rem !important;
}

.common-style{
    margin: 50px 0;
    padding: 50px 30px 30px;
    /* border: 1px solid rgb(9, 88, 22); */
    border: 1px solid #000;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.common-style > h4{
    position: absolute;
    top: -28px;
    background-color: white;
    display: inline-block;
    padding: 10px;
    left: 30px;
    /* color: rgb(9, 88, 22); */
    color: rgb(153, 42, 42);
    font-family: Titillium Web;
    text-align: start;
}


@media (max-width: 600px){
    main{
        padding: 20px !important;
    }

    .common-style{
        padding: 30px 15px 15px ;
        justify-content: center;
        text-align: justify;
    }

    .common-style > h4{
        top: -22px;
    }
}

@media (max-width: 400px) {
    main{
        padding: 10px !important;
    }

    .common-style{
        padding: 30px 8px 15px ;
    }
}




