@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bitter:wght@300;400&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Mitr:wght@400;500&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&family=Sarabun:wght@500;600&family=Titillium+Web:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 235, 235) !important;
}

header{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 0;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.logo-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo-heading section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Merriweather;
    color: rgb(9, 88, 22);
}

.logo-heading section:first-of-type{
    margin-right: 50px;   
}

.logo{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin-right: 25px;
}

.logo img{
    width: 100%;
    height: auto;
}

.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.nav-links{
    text-decoration: none;
    cursor: pointer;
    padding: 10px 15px;
    font-family: Alata;
    font-family: 400px;
    font-size: 20px;
    color: rgb(9, 88, 22);
    display: inline-block;
    margin: 0 10px;
    width: fit-content;
}

.nav-links:hover{
    color: rgb(5, 70, 9);
}

.nav-links::after{
    display: block;
    content: "";
    border-bottom: 2px solid rgb(5, 70, 9);
    transform: scaleX(0);
    transition: .3s ease-in-out;
}

.nav-links:hover::after{
    transform: scaleX(1.1);
}

main{
    background-color: white;
    height: 75vh;
    padding: 5px !important;
}

.image-holder{
    width: 100%;
}

.navbar-collapse{
    flex-grow: 0 !important;
}

@media (max-width: 600px){
    .container{
        width: 95% !important;
    }

    .logo-heading{
        flex-direction: column;
    }
    .logo-heading section:first-of-type{
        margin-right: 0;
        flex-direction: column;
        text-align: center;   
    }

    .logo{
        margin: 20px;
    }
    
    .logo:first-of-type{
        margin-bottom: 30px;
    }
}

